listacursos.dtd

<!ELEMENT listacursos (curso+)>
<!ELEMENT curso (alumno+)>
<!ELEMENT alumno (DNI, nombre, apellido, segundo-apellido?,asignatura+)>
<!ELEMENT asignatura (nombre, profesor)>
<!ATTLIST asignatura codigo ID #REQUIRED>
<!ELEMENT profesor (NRP, nombre, apellido, segundo-apellido?)>
<!ELEMENT NRP (#PCDATA)>
<!ELEMENT DNI (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT segundo-apellido (#PCDATA)>
